<div class="container">
<div class="jumbotron">
	<div >
	<%= yield(:pose) %>
    </div>
  <h1>#</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Set Up an Appointment with a Programmer</a></p>
  <br class="clear"/>
</div>
</div>