// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pic{
	float: right;
	border-radius:10px;
	box-shadow:25px 25px 20px #37fdfc;	
}
.clear {
	clear: both;
}

.BlackText {
	color: black;
}